html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.navbar-color {
	background-color: rgba(34,34,34,1);
	padding-right: 15px;
}

.nav-header-style {
	font-size: 18px;
	font-family: 'Trirong', serif;
}

.nav-span-style {
	color: #909090;
	font-weight: 800;
	letter-spacing: 0.5px;
	transition: all 0.2s ease-in-out;
}

.nav-span-style:hover {
	color: #fff;
}

.img-section {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
	padding: 0;
	font-size: 50px;	
	text-align: center;
}

.one {
	background-image: url(../img/bg-dark-blurred.jpg);
}

.two {
	background-image: url(../img/bg-dark-blurred.jpg);
}

.three {
	background-image: url(../img/background_top.jpg);
}

.small {
	height: 70%;
}

.text-section-60 {
	height: 60%;
	text-align: center;
	font-size: 30px;
	display: flex;
	align-items: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;	
}

.text-section-100 {
	background-color: white;
	height: 100%;
	text-align: center;
	font-size: 30px;
	display: flex;
	align-items: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;	
}

.inside-text {
	font-family: 'Exo', sans-serif;
	color: #f2f2f2;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);  
    margin-bottom: -20px;
}

.inside-text-1 {
	transition: all 0.3s ease-in-out;
}

.inside-text-1:hover {
	color: #ffc1c1;
}

.inside-text-2 {
	font-family: 'Trirong', sans-serif;
	color: #f2f2f2;
	font-weight: 800;
	font-size: 25px;
}

.my-img {
	border: 10px solid transparent;
	margin-left: auto;
	margin-right: auto;
}

.social-icons {
	color: #9b9b9b;
	transition: all 0.3s ease-in-out;
}

.social-icons:hover {
	color: #fff;
}

::selection {
    background: #555;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background-color: #555555;
    -webkit-box-shadow: inset 8px 0px 21px 3px rgba(0,0,0,0.75);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,1); 
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background:#555; 
}